    <legend class="design-title"><i class="fa-solid fa-object-ungroup"></i>Diseña
    </legend>

    <div class="colors-text">
    <h2>Colores</h2>
    </div>

    <main class="large-container">
    <div class="color-container-1">
        <input id="colorpalette1"
          type="radio"
          value="colorpalette1"
          name="colorpalette"
        />
        <section class="colorpalette1">
            <div class="rectangle-a1"></div>
            <div class="rectangle-a2"></div>
            <div class="rectangle-a3"></div>
          </section>
    </div>

    <div class="color-container-2">
        <input id="colorpalette2"
          type="radio"
          value="colorpalette2"
          name="colorpalette"
        />
        <section class="colorpalette2">
            <div class="rectangle-b1"></div>
            <div class="rectangle-b2"></div>
            <div class="rectangle-b3"></div>
          </section>
    </div>

    <div class="color-container-3">
        <input
          id="colorpalette3"
          type="radio"
          value="colorpalette3"
          name="colorpalette"
        />
        <section class="colorpalette3">
            <div class="rectangle-c1"></div>
            <div class="rectangle-c2"></div>
            <div class="rectangle-c3"></div>
          </section>
    </div>
</main>
<hr class="line-divider">
</fieldset>