<fieldset class="share">
  <hr class="line__divider1">
  <section class="buttonShare">
    <p class="buttonShare__title"><i class="fa-solid fa-share-nodes"></i> Comparte </p>
    <img src="./assets/images/ico-scroll-down.svg" class="buttonShare__arrow js-arrow-share" alt="">
  </section>
  <a href="#" class="buttonShare_cTa_Link">
    <div class="buttonShare_callToAction">
      <i class="fa-regular fa-address-card"></i>
      <p class="buttonShare_cTa_Text">Crear Tarjeta</p>
    </div>
  </a>
  <hr class="line__divider2">
</fieldset>


<!-- <div class="buttonShare_callToAction">
  <i class="fa-regular fa-address-card"></i><a href="#" class="buttonShare_cTa">Crear Tarjeta</a></div>
    <hr class="line__divider2"> -->