<fieldset>

    <div class="buttonStuffed">
        <legend class="buttonStuffed__title"><i class="fa-regular fa-keyboard"></i>Rellena</legend>
        <img src="./assets/images/ico-scroll-down.svg" class="buttonStuffed_arrow" alt="">
    </div>

    <form action="" class="stuffed">
        <label for="full_name" class="stuffed__infoLabel">Nombre completo</label>
        <input type="text" id="full_name" class="stuffed__infoInput"  placeholder="Nombre Apellido">

        <label for="job" class="stuffed__infoLabel">Puesto</label>
        <input type="text" id="job" class="stuffed__infoInput"  placeholder="Full stack developer">

        <label for="imageForm" class="stuffed__infoLabel">Imágen de perfil</label>
        <input type="text" class="stuffed__infoInput"  id="imageForm">

        <label for="email" class="stuffed__infoLabel">Email</label>
        <input type="email" id="email" class="stuffed__infoInput"  placeholder="ejemplo@dominio.tld">

        <label for="phone" class="stuffed__infoLabel">Teléfono</label>
        <input type="tel" id="phone" class="stuffed__infoInput"  placeholder="XXXXXXXXX">

        <label for="linkedin" class="stuffed__infoLabel">Linkedin</label>
        <input type="text" id="linkedin" class="stuffed__infoInput"  placeholder="linkedin.com/in/usuario">

        <label for="github" class="stuffed__infoLabel">Github</label>
        <input type="text" id="github" class="stuffed__infoInput" placeholder="@usuario">
    </form>
    <hr class="line-divider">
</fieldset>