<fieldset class="design">
  <section class="buttonDesign">
    <p class="buttonDesign__title"><i class="fa-solid fa-object-ungroup"></i> Diseña </p>
    <img src="./assets/images/ico-scroll-down.svg" class="buttonDesign__arrow js-arrow-design" alt="">
  </section>

  <main class="largeContainerDesign  js-design">
    <div class="mediumContainerDesign">
      <div class="boxDesignColorsLabel"><span class="colorsText">
          Colores
        </span></div>
      <div class="colorPalette__container1">
        <input class="colorPalette__input1" type="radio" value="colorpalette1" name="colorpalette" />
        <section class="colorsBoxOne">
          <div class="rectangle__a1"></div>
          <div class="rectangle__a2"></div>
          <div class="rectangle__a3"></div>
        </section>
      </div>
    </div>

    <div class="colorPalette__container2">
      <input id="colorPalette__input2" type="radio" value="colorpalette2" name="colorpalette" />
      <section class="colorsBoxTwo">
        <div class="rectangle__b1"></div>
        <div class="rectangle__b2"></div>
        <div class="rectangle__b3"></div>
      </section>
    </div>

    <div class="colorPalette__container3">
      <input id="colorPalette__input3" type="radio" value="colorpalette3" name="colorpalette" />
      <section class="colorsBoxThree">
        <div class="rectangle__c1"></div>
        <div class="rectangle__c2"></div>
        <div class="rectangle__c3"></div>
      </section>
    </div>
  </main>
  <hr class="line__divider">
</fieldset>