<fieldset class="share">
  <hr class="line__divider1">
  <section class="buttonShare">
    <p class="buttonShare__title"><i class="fa-solid fa-share-nodes"></i> Comparte </p>
    <img src="./assets/images/ico-scroll-down.svg" class="buttonShare__arrow js-arrow-share" alt="">
  </section>
  <section class="buttonComparte js-share">
    <a href="" class="linkComparte"><i class="fa-regular fa-address-card"></i>Crear Tarjeta</a>
  </section>

</fieldset>
<hr class="line__divider2" />
<section class="cardCreated">
  <h3 class="cardCreated_text">La tarjeta ha sido creada:</h3>
  <a class="cardCreated_link"
    href="https://https://awesome-profile-card.com/?id=AA56D">https://https://awesome-profile-card.com/?id=AA56D</a>
  <a class="cardCreated_button" href=""><i class="fa-brands fa-twitter"></i>Compartir en twitter</a>
  <hr class="line__divider3" />
</section>