<fieldset class="share">
  <section class="buttonShare js-shareClick">
    <p class="buttonShare__title"><i class="fa-solid fa-share-nodes"></i> Comparte </p>
    <img src="./assets/images/ico-scroll-down.svg" class="buttonShare__arrow js-arrow-share" alt="">
  </section>

  <section class="buttonComparte js-share">
    <a href="" class="linkComparte js-linkCreated"><i class="fa-regular fa-address-card"></i>Crear Tarjeta</a>
    <article class="cardCreated js-cardCreated hidden js-share">
      <h3 class="cardCreated_text">La tarjeta ha sido creada:</h3>
      <a class="cardCreated_link"
        href="https://https://awesome-profile-card.com/?id=AA56D">https://https://awesome-profile-card.com/?id=AA56D</a>
      <a class="cardCreated_button js-CardCreated_button " href="https://twitter.com/intent/tweet?text="
        target="_blank"><i class="fa-brands fa-twitter"></i>Compartir en
        twitter</a>
    </article>

  </section>

</fieldset>