<fieldset class="design">
  <section class="buttonDesign js-designClick">
    <p class="buttonDesign__title"><i class="fa-solid fa-object-ungroup"></i> Diseña </p>
    <img src="./assets/images/ico-scroll-down.svg" class="buttonDesign__arrow js-arrow-design" alt="">
  </section>

  <main class="largeContainerDesign  js-design">
    <div class="mediumContainerDesign">
      <div class="boxDesignColorsLabel"><span class="colorsText">
          Colores
        </span></div>
      <div class="colorPalette__container1">
        <input id="palette1" class="colorPalette__input1 js-palette1" type="radio" value="1" name="colorpalette"
          checked="true"/>
        <section class="colorsBoxOne">
          <div class="rectangle__a1"></div>
          <div class="rectangle__a2"></div>
          <div class="rectangle__a3"></div>
        </section>
      </div>
    </div>

    <div class="colorPalette__container2">
      <input id="palette2" class="js-palette2 colorPalette__input2 " type="radio" value="2" name="colorpalette" />
      <section class="colorsBoxTwo">
        <div class="rectangle__b1"></div>
        <div class="rectangle__b2"></div>
        <div class="rectangle__b3"></div>
      </section>
    </div>

    <div class="colorPalette__container3">
      <input id="palette3" class="js-palette3 colorPalette__input3" type="radio" value="3" name="colorpalette" />
      <section class="colorsBoxThree">
        <div class="rectangle__c1"></div>
        <div class="rectangle__c2"></div>
        <div class="rectangle__c3"></div>
      </section>
    </div>
  </main>
</fieldset>