<main class="principal">
  <section class="made">
    <h1 class="made__title">crea tu tarjeta de visita</h1>
    <p class="made__title--text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
  </section>

  <section class="Section2">
    <ul class="List">
      <li class="Element1"> Diseña</li>
      <li class="Element2"> Rellena</li>
      <li class="Element3"> Comparte</li>
      <li class="Element4"><i class="fa-solid fa-object-ungroup "></i></li>
      <li class="Element5"><i class="fa-regular fa-keyboard"></i></li>
      <li class="Element6"><i class="fa-solid fa-share-nodes"></i></li>

    </ul>
  </section>

  <section class="btn">
    <a href="./create.html" title="Ir a diseñar" class="btn__link">comenzar</a>
  </section>
</main>