<section class="mainCreate__card card">
    <button class="card__button js_reset-btn" title="Reset" name="Reset" type="button"><i class="far fa-trash-alt"></i>
        Reset</button>
    <article class="js_card_article card__article">
        <div class="card__article--data">
            <h2 class="name js_card_name">Nombre apellido</h2>
            <h3 class="text js_card_job">Front-end developer</h3>
        </div>
        <div class="card__article--photo js_card_img">

        </div>
        <nav class="card__article--links">
            <a class="js_card_phone" href=""><i class="fa-solid fa-mobile-screen-button icon"></i></a>
            <a class="js_card_email" href=""><i class="fa-regular fa-envelope icon"></i></a>
            <a class="js_card_social" href=""><i class="fa-brands fa-linkedin-in icon"></i></a>
            <a class="js_card_git" href=""><i class="fa-brands fa-github-alt icon"></i></a>
        </nav>
    </article>
</section>