.fa fa-share-nodes {
  color: $color-palette--orange;
}

.fa-solid {
  color: $button-link;
}

.fa-angle-u {
  color: $button-link;
}

.buttonShare__arrow {
  margin-right: 5px;
  transform: scaleY(-1);
}

.line__divider1 {
  border-width: 0.01em;
  border-color: $border-color;
  margin: 0px 20px 0px 20px;
}

.line__divider2 {
  border-width: 0.01em;
  border-color: $border-color;
  margin: 0px 20px 30px 20px;
}

.line__divider3 {
  width: 100%;
  border-width: 0.01em;
  border-color: $border-color;
  margin: 0;
}

.buttonShare {
  display: flex;
  justify-content: space-between;
  margin: 27px 20px 22px 20px;
}

.buttonShare__title {
  text-transform: uppercase;
  font-size: rem(18);
  font-family: $font-Open;
  font-weight: 700;
  color: $text;
}

.buttonShare_callToAction {
  display: flex;
  width: 199px;
  padding: 13px 18px 13px 18px;
  background-color: $button-link;
  border-radius: 12px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 43px;
  cursor: pointer;
}

.buttonShare_cTa_Link {
  text-decoration: none;
}

.buttonShare_cTa_Text {
  text-transform: uppercase;
  color: $footer-bg-color;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

.fa-address-card {
  color: $footer-bg-color;
  padding-right: 10px;
  font-size: 22px;
  text-align: center;
  justify-content: center;
}


