.buttonStuffed{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    &__title{
        text-transform: uppercase;
        font-size: rem(18);
        font-family: $font-Open;
        font-weight: 700;
        color: $text;
    }
}

.stuffed{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    margin: 10px 20px 10px 20px;
    &__infoLabel{
        color: $title-card-icons;
        font-size: rem(14);
        margin-bottom: 7px;
        font-weight: 700;
    }
    &__infoInput{
        margin-bottom: 20px;
        border-color: $border-icon;
        border-style: solid;
        height: 30px;
    }
}