.fa fa-object-ungroup {
  color: $color-palette--orange;
}

.fa-solid fa-angle-u {
  color: $text;
}

.buttonDesign__arrow {
  transform: rotate(180deg);
}

.buttonDesign {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
  padding-top: 25px;
  padding-bottom: 22px;
}

.buttonDesign__title {
  text-transform: uppercase;
  font-size: rem(18);
  font-family: $font-Open;
  font-weight: 700;
  color: $text;
}
.BoxDesignColorsLabel {
  display: flex;
  align-content: left;
  margin-left: 20px;
  align-items: center;
}

.ColorsText {
  text-transform: uppercase;
  font-size: rem(14);
  font-family: $font-Open;
  font-weight: 500;
  color: $text;
}

//PALETA DE COLORES

//PALETA 1

.largeContainerDesign {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.colorsBoxOne {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-right: 20px;
  justify-content: right;
}

.MediumContainerDesign {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: right;
  align-items: center;
}

.colorPalette__container1 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rectangle__a1 {
  width: 30px;
  height: 25px;
  margin-left: 10px;
  background-color: $title-card-icons;
  align-items: center;
}

.rectangle__a2 {
  width: 30px;
  height: 25px;
  background-color: $start-button;
  align-items: center;
}

.rectangle__a3 {
  width: 30px;
  height: 25px;
  background-color: $border-icon;
  align-items: center;
}

//PALETA DE COLORES

//PALETA 2

.colorsBoxTwo {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-right: 20px;
  justify-content: right;
}

.colorPalette__container2 {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rectangle__b1 {
  width: 30px;
  height: 25px;
  margin-left: 10px;
  background-color: $color-palette-blood;
}

.rectangle__b2 {
  width: 30px;
  height: 25px;
  background-color: $color-palette-red;
}

.rectangle__b3 {
  width: 30px;
  height: 25px;
  background-color: $title-icons;
}

//PALETA DE COLORES

//PALETA 3

.colorsBoxThree {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-right: 20px;
  justify-content: right;
}

.colorPalette__container3 {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rectangle__c1 {
  width: 30px;
  height: 25px;
  margin-left: 10px;
  background-color: $color-palette-slate;
}

.rectangle__c2 {
  width: 30px;
  height: 25px;
  background-color: $color-palette--orange;
}

.rectangle__c3 {
  width: 30px;
  height: 25px;
  background-color: $color-palette--blue;
  margin-right: 0px;
}
