.footer {
  width: 100%;
  background-color: $footer-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(18) rem(61) rem(20) rem(61);
  border-top: 1px solid $border-color;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.1rem rem(40) 1.2rem rem(41);
  }
  &__small {
    font-family: $font-Open;
    font-size: 14px;
    color: $text-color-light;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 0;
    }
  }
  &__img {
    max-width: rem(103);
    max-height: rem(40);
  }
}
