.header {
  background-color: $main-bg-color;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: rem(170) rem(35) rem(40) rem(35);
  @include tablet {
    padding: rem(500) rem(174) rem(31) rem(175);
  }
  &__img {
    max-width: rem(250);
    max-height: rem(63);
    @include tablet {
      max-width: rem(419);
      max-height: rem(105);
    }
  }
}
